de_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache


# Específicos do ISPCONFIG
error/
favicon.ico
robots.txt
standard_index.html
stats/

# 
public/migracao/
node_modules/
vendor/
stats/awsindex.html
storage/
storage/logs/acoes.log
